/* Navigation Bar styles and interaction */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



section.main-content {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.logo img {
    height: 0px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5998;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-dropdown a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5998;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

/* Make Nav Links Flex */
.nav-links {
    display: flex;
    flex-direction: row;
}



.nav-content-dropdown {
    display: none;
    /* Hidden by default */
    position: absolute;
    background-color: white;
    /* Dropdown background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    /* Rounded corners for the dropdown */
    margin-top: 0px;
    /* Align with the bottom of the navbar link */
}


.nav-dropdown:hover .nav-content-dropdown {
    display: block;
    background-color: #2a4887;
    /* Hover effect for dropdown links */
}





/* Table CSS Stylings */
table {
    width: 100%;
    border-collapse: collapse;
    /* Collapses cell borders */
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    /* Light grey border */
    padding: 12px;
    text-align: left;
    font-size: 14px;
    /* Slightly smaller font for table content */
}

th {
    background-color: #4c7faf;
    /* Header background color */
    color: white;
    /* Header text color */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Zebra striping for rows */
}

tr:hover {
    background-color: #e1ecf4;
    /* Highlight on hover */
}